@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a{
  font-weight: bold;
}

@keyframes pulseBlack {
  0% {
    background-color: #000000; 
  }
  50% {
    background-color: #333333; 
  }
  100% {
    background-color: #000000; 
  }
}


.pulse-bg {
  animation: pulseBlack 2s infinite; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
